[project]
	description = LibriVox catalog and reader workflow application
	state = hidden
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Artom Lifshitz (notartom)
[access "refs/for/refs/*"]
	read = group user/Artom Lifshitz (notartom)
	push = group user/Artom Lifshitz (notartom)
	label-Code-Review = -2..+2 group user/Artom Lifshitz (notartom)
	label-Verified = -1..+1 group user/Artom Lifshitz (notartom)
	rebase = group user/Artom Lifshitz (notartom)
	removeReviewer = group user/Artom Lifshitz (notartom)
	submit = group user/Artom Lifshitz (notartom)
[access "refs/heads/*"]
	read = group user/Artom Lifshitz (notartom)
	create = group user/Artom Lifshitz (notartom)
	push = +force group user/Artom Lifshitz (notartom)
	pushMerge = group user/Artom Lifshitz (notartom)
[access "refs/tags/*"]
	push = group user/Artom Lifshitz (notartom)
	push = +force group user/Artom Lifshitz (notartom)
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
